@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;600;700;900&display=swap");

:root {
  --bg-light-color: #efefef;
  --bg-text-border: #c4c4c4;
  --shadow-color: #666;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Titillium Web", sans-serif;
}

.container {
  padding: 150px;
  background-image: url("../img/got.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  top: 0;
  height: 100vh;
  position: relative;
}

p {
  display: flex;
  font-size: 52px;
  color: #E5E5E5;
  font-weight: 900;
  margin-bottom: 150px;
}

.content h3 {
  font-size: 36px;
  font-weight: normal;
}

.photo {
  float: right;
  top: 15%;
}

.GameOfThrone {
  margin-left: -9rem;
  position: relative;
  z-index: 10;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
}

.GameOfThrone:hover {
  transform: scale(1.2);
}

.Breaking-Bad {
  margin-right: 3rem;
  z-index: -1;
  transition: all 0.5s ease-in-out;
}

.Breaking-Bad:hover {
  transform: scale(1.2);
}

.RickAndMorty {
  margin-left: -12rem;
  z-index: -1;
  transition: all 0.5s ease-in-out;
}

.RickAndMorty:hover {
  transform: scale(1.2);
}

/* filler panel */

.text p {
  font-size: 30px;
  font-weight: normal;
  margin-left: 18%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.custom-field {
  position: relative;
  font-size: 32px;
  color:rgb(230, 225, 225);
  right: 1rem;
  border:none;
}

.custom-field input {
  border: none;
  outline: none;
  color:rgba(255, 255, 255, 0.808);
  background-color:rgba(218, 217, 216, 0.336);
  padding: 30px;
  width: 450px;
  border-radius: 50px;
  margin-left: 80px;
  margin-bottom: 50px;
  margin-top: 30px;
  font-size: 32px;
}

.custom-field .placeholder {
  position: absolute;
  /* top: calc(-50% + 0.5rem); */
  top: 50%;
  left: 200px;
  transform: translateY(-50%);
  transition: all 0.3s ease;
  outline: none;
}

.custom-field input:valid + .placeholder,
.custom-field input:focus + .placeholder {
  top: -0.5rem;
  font-size: 16px;
  color:rgb(255, 255, 255);
  outline: none;
}

.btn2 {
  background-color: #492230;
  height: 80px;
  width: 300px;
  border-radius: 50px;
  margin-left: 135px;
  transition: all 0.5s ease-in-out;
  color: white;
  font-size: 36px;
  font-weight: 900;
  outline: none;
}

.btn2:hover {
  transform: scale(1.1);
}
