.container {
  padding: 150px;

  background-image: linear-gradient(
      to left,
      rgba(31, 35, 37, 0.6),
      rgba(36, 36, 36, 0.7)
    ),
    url("../img/got.jpg");

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  top: 0;
  height: 100vh;
  position: relative;
}

h2 {
  display: flex;
  font-size: 52px;
  color: #e5e5e5;
  font-weight: 900;
  margin-bottom: 150px;
}

.content h3 {
  font-size: 36px;
  font-weight: normal;
}

.photo {
  float: right;
  top: 15%;
  border-bottom-left-radius: 50% 25%;
  border-bottom-right-radius: 50% 25%;
  overflow: hidden;
  padding: 6rem 2rem 0;
  margin-top: -6rem;
}

.GameOfThrone {
  margin-left: -9rem;
  position: relative;
  z-index: 10;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
  transform-origin: bottom;
}

.GameOfThrone:hover {
  transform: scale(1.2);
}

.Breaking-Bad {
  margin-right: 3rem;
  z-index: -1;
  transition: all 0.5s ease-in-out;
  transform-origin: bottom;
}

.Breaking-Bad:hover {
  transform: scale(1.2);
  z-index: 11;
}

.RickAndMorty {
  margin-left: -12rem;
  z-index: -1;
  transition: all 0.5s ease-in-out;
  transform-origin: bottom;
}

.RickAndMorty:hover {
  transform: scale(1.2);
  z-index: 99;
}

/* filler panel */

.text p {
  font-size: 30px;
  font-weight: normal;
  margin-left: 18%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.name {
  position: relative;
  font-size: 32px;
  color: rgb(230, 225, 225);
  right: 1rem;
  border: none;
}

.name input {
  border: none;
  outline: none;
  color: rgba(255, 255, 255, 0.808);
  background-color: rgba(218, 217, 216, 0.336);
  padding: 30px;
  width: 450px;
  border-radius: 50px;
  margin-left: 80px;
  margin-bottom: 50px;
  margin-top: 30px;
  font-size: 32px;
}

.name .placeholder {
  position: absolute;
  /* top: calc(-50% + 0.5rem); */
  top: 50%;
  left: 200px;
  transform: translateY(-50%);
  transition: all 0.3s ease;
  outline: none;
}

.name input:valid + .placeholder,
.name input:focus + .placeholder {
  top: -0.5rem;
  left: 8rem;
  font-size: 16px;
  color: rgb(255, 255, 255);
  outline: none;
}

.btn2 {
  background-color: #f1ecee0e;
  border-color: #c4c4c4;
  border-width: 3px;
  height: 80px;
  width: 300px;
  border-radius: 50px;
  margin-left: 135px;
  transition: all 0.5s ease-in-out;
  color: #c4c4c4;
  font-size: 36px;
  font-weight: 900;
  outline: none;
}

.btn2:hover {
  transform: scale(1.1);
}
