body {
  font-family: "Titillium Web", sans-serif;
}

.container {
  padding: 150px;
  background-color:black;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  top: 1;
  height: 100vh;
  position: relative;
}

p {
  display: flex;
  font-size: 52px;
  color: #E5E5E5;
  font-weight: 900;
  margin-bottom: 50px;
}

.content h3 {
  font-size: 2rem;
  font-weight: normal;
  color: #E5E5E5;
}

.photo {
  float: right;
  top: 15%;
}

.GameOfThrone {
  margin-left: -9rem;
  position: relative;
  z-index: 10;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
}

.GameOfThrone:hover {
  transform: scale(1.2);
}

.Breaking-Bad {
  margin-right: 3rem;
  z-index: -1;
  transition: all 0.5s ease-in-out;
}

.Breaking-Bad:hover {
  transform: scale(1.2);
}

.RickAndMorty {
  margin-left: -12rem;
  z-index: -1;
  transition: all 0.5s ease-in-out;
}

.RickAndMorty:hover {
  transform: scale(1.2);
}