body {
  font-family: "Titillium Web", sans-serif;
}

.container {
  padding: 150px;
  background-color: black;
  background-image: linear-gradient(
      170deg,
      rgba(0, 15, 31, 0.5) 5%,
      rgba(206, 70, 70, 0) 40%,
      rgba(4, 8, 15, 0.9) 100%
    ),
    url("../img/main_3.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  top: 1;
  height: 100vh;
  position: relative;
}

p {
  display: flex;
  font-size: 52px;
  color: #e5e5e5;
  font-weight: 900;
  margin-bottom: 50px;
}

.content {
  background-color: #11111180;
  box-shadow: 1px 1px 40px 40px #11111180;
  text-shadow: 1px 1px 2px #11111180;
  width: max-content;
  border-radius: 3rem;
}

.content h3 {
  font-size: 2rem;
  font-weight: normal;
  color: #e5e5e5;
}

.content h2 {
  font-size: 2rem;
  font-weight: normal;
  color: #e5e5e5;
  font-weight: bold;
}

.title {
  text-shadow: 5px 5px 4px #11111180;
}

.photo {
  float: right;
  top: 15%;
  border-bottom-left-radius: 50% 25%;
  border-bottom-right-radius: 50% 25%;
  overflow: hidden;
  padding: 6rem 2rem 0;
  margin-top: -6rem;
  box-shadow: 0 1rem 0.5rem -5px #11111180;
  background: linear-gradient(
    0deg,
    rgba(24, 30, 36, 1) 0%,
    rgba(255, 255, 255, 0) 10%
  );
}

.GameOfThrone {
  margin-left: -9rem;
  position: relative;
  z-index: 10;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
  transform-origin: bottom;
  margin-bottom: -8px;
}

.GameOfThrone:hover {
  transform: scale(1.2);
}

.Breaking-Bad {
  margin-right: 3rem;
  z-index: -1;
  transition: all 0.5s ease-in-out;
  transform-origin: bottom;
  margin-bottom: -8px;
}

.Breaking-Bad:hover {
  transform: scale(1.2);
}

.RickAndMorty {
  margin-left: -12rem;
  z-index: -1;
  transition: all 0.5s ease-in-out;
  transform-origin: bottom;
  margin-bottom: -8px;
}

.RickAndMorty:hover {
  transform: scale(1.2);
}
