a {
  text-decoration: none;
}
p,
h2 {
  font-style: normal;
  font-weight: 900;
  font-size: 5rem;
  line-height: 5rem;
  color: #89877c;
  text-shadow: 2px 2px 5px #333;
  transition: all 1s ease-in-out;
}

h2:hover {
  transform: scale(1.1);
  text-shadow: 4px 4px 2px #111;
}

.container {
  display: flex;
  background-image: linear-gradient(
      170deg,
      rgba(0, 15, 31, 0.5) 5%,
      rgba(206, 70, 70, 0) 40%,
      rgba(4, 8, 15, 0.9) 100%
    ),
    url("../img/main_2x.jpg");
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  top: 0;
  height: 100vh;
}

.title-container {
  max-width: 1440px;
  width: 90%;
  min-width: 300px;
  height: 100vh;
  z-index: 99;
  position: relative;
  margin: auto;
}

.title__first {
  top: 15%;
  left: 5%;
  position: absolute;
}
.title__second {
  position: absolute;
  bottom: 10%;
  right: 0%;
  z-index: 99;
  width: 100%;
  text-align: right;
}

.title__special {
  color: #bf9216;
}

.fog {
  position: relative;
  height: 100vh;
  width: 100%;
  /* background: #fff; */
}

.fog-container {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.fog-img {
  position: absolute;
  height: 100vh;
  width: 300vw;
  z-index: 1;
}

.fog-img-first {
  background: url("../img/fog-1.png");
  background-repeat: repeat-x;
  background-size: contain;
  background-position: center;
  animation: marquee 60s linear infinite;
}

.fog-img-second {
  background: url("../img/fog-2.png");
  background-repeat: repeat-x;
  background-size: contain;
  background-position: center;
  animation: marquee 30s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translate3d(0, 0, 0);
  }

  100% {
    transform: translate3d(-200vw, 0, 0);
  }
}

@media only screen and (max-width: 780px) {
  p,
  h2 {
    font-size: 4rem;
    line-height: 4rem;
  }

  .title__first {
    top: 5%;
    left: 0%;
  }
}
