.header__container {
  display: flex;
  justify-content: space-between;
  background-image: url("../img/main.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  min-width: 100vw;
  padding: 15rem 8rem;
}

.title__first {
 align-self: flex-start;
}
.title__second {
  align-self: flex-end;
}

.title__special {
  color: #bf9216;
}
a {
  text-decoration: none;
}
h2 {
  font-weight: 900;
  font-size: 7.5rem;
  line-height: 8.5rem;
  color: #89877c;
}
