.container {
  padding: 30px;
  background-image: linear-gradient(
      170deg,
      rgba(0, 15, 31, 0.5) 5%,
      rgba(29, 24, 16, 0.3) 40%,
      rgba(4, 8, 15, 0.9) 100%
    ),
    url("../img/tron.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  top: 0;
  height: 100vh;
  position: relative;
}

.total {
  position: relative;
  top: -40rem;
  animation: dropTotal 2.5s ease-out 2.5s forwards;
}

@keyframes dropTotal {
  0% {
    top: -40rem;
    opacity: 0;
  }

  100% {
    top: 0;
    opacity: 1;
  }
}

.shadow {
  box-shadow: 4px 4px 6px #11111199;
}

.show-nav {
  display: flex;
  list-style: none;
  justify-content: space-around;
  /* te dwie linijki w sumie nic nie robią*/
  padding-top: 1rem;
  align-items: center;
}

.show-nav li {
  display: block;
}

.show-nav a {
  text-decoration: none;
  color: #202427;
}

.show-nav li a {
  text-decoration: none;
  color: #c4c4c4;
  font-weight: bold;
}

.box1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 1.5rem;
  height: 80px;
  width: 830px;
  border-radius: 50px;
  line-height: 30px;
  margin-bottom: 2rem;
  text-shadow: 4px 4px 4px #121212;
  background: #11111199;
  box-shadow: 1px 1px 40px 40px #11111199;
  filter: brightness(1.1);
}

.box1 a {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 3.5rem;
  color: #c4c4c4;
  letter-spacing: 0.3rem;
}

.box2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  height: 80px;
  width: 830px;
  border-radius: 50px;
  opacity: 95%;
  background-color: #c4c4c4;
  color: #202427;
  font-weight: 900;
  line-height: 30px;
  font-size: 48px;
  justify-content: space-evenly;
  margin-bottom: 2rem;
  border: 1px solid #212121;
  letter-spacing: 0.3rem;
}

.box3 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  height: 300px;
  width: 830px;
  border-radius: 50px;
  background-color: #c4c4c4;
  opacity: 95%;
}

.ranking {
  font-size: 1.8rem;
  text-shadow: 1px 1px 2px #333;
}

.ranking-nav {
  display: flex;
  list-style: none;
  justify-content: space-around;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  color: #202427;
  font-weight: 900;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

.ranking-nav li {
  display: block;
}

.ranking-nav li a {
  font-size: 1.75rem;
  text-transform: uppercase;
  font-weight: 900;
}

/* ranking score*/
.first-place {
  display: flex;
  list-style: none;
  justify-content: space-around;
}
.second-place {
  display: flex;
  list-style: none;
  justify-content: space-around;
}
.third-place {
  display: flex;
  list-style: none;
  justify-content: space-around;
}

.ranking li {
  display: block;
}
.ranking li a {
  font-size: 1.75rem;
  text-transform: uppercase;
  font-weight: bold;
  color: #202427;
}

.player-result {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 2rem auto 0;
  width: 830px;
  color: #202427;
  background-color: #c4c4c4;
  border-radius: 50px;
  font-size: 1.8rem;
  padding: 1rem;
  font-weight: 700;
  position: relative;
  top: -40rem;
  opacity: 0;
  animation: dropResult 2s ease-out forwards;
}

#name {
  flex: 1;
  text-align: center;
}

.res-wrong {
  color: var(--wrong-color);
}

.res-correct {
  color: #465226;
}

.results {
  display: flex;
  justify-content: space-around;
  flex: 3;
  text-align: center;
}

@keyframes dropResult {
  0% {
    top: -40rem;
    opacity: 0;
  }

  100% {
    top: 0;
    opacity: 1;
  }
}

.btn-container {
  display: flex;
  justify-content: space-between;
  width: 830px;
  margin: auto;
  opacity: 0;
  animation: btnShow 3s ease-out 2.8s forwards;
}

@keyframes btnShow {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.btn1 {
  display: block;
  height: 80px;
  width: 350px;
  margin-top: 25px;
  border-radius: 50px;
  color: #c4c4c4;
  text-align: center;
  font-size: 32px;
  font-weight: 900;
  outline: none;
  background-color: #212425;
  border-color: #c4c4c4;
  border-width: 3px;
  transition: all 0.5s ease-in-out;
  transition: scale 0.2s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.btn1 a {
  text-decoration: none;
  color: #c4c4c4;
}

.btn1:hover a {
  color: #202427;
}

.btn1:hover {
  background-color: #c4c4c4;
  border: none;
  font-weight: 900;
}

.btn1:active {
  transform: scale(1.15);
  /* background-color: #F0E59E;
opacity: none; */
}
