@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;600;700;900&display=swap");

:root {
  --bg-light-color: #efefef;
  --bg-text-border: #c4c4c4;
  --shadow-color: #666;
  --correct-color: #cbdf94;
  --wrong-color: #492230;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
} 

body {
  font-family: "Titillium Web", sans-serif;
  font-weight: 400;
  box-sizing: border-box;
}
